
.store-item {
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
    transition: all .3s ease-in-out;
    margin-bottom: 30px;
    display: block;
    position: relative;
}

.store-item a {

}
.bill-table{
    width :100%;
}
td {padding: 30px;}
tr{border-top: 1px solid #cece;}
.store-item:hover,
.store-item:focus {
    text-decoration: none;
    color: #fff;
}


.store-item .title {
    opacity: 0;
    /*transition: all .3s ease-in-out;*/
}

.store-item .title {
    font-family: 'Chronicle Display A', 'Chronicle Display B';
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}

.store-item  {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}


.store-item .overlay {
    background-color: #e65a22;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    top: 0;
    z-index: 1;
}

.store-item:hover .overlay {
    opacity: .9;
}

.store-item:hover .title
{
    opacity: 1;
}
.price{
    font-weight: 100;
    font-size: 16px;
    padding-top: 25px;
}

.option{
    border-top: 1px solid black;
}
.option:hover{
    background-color: red;
}
.size{
    padding:10px;
    font-size: 16px;
    color: #cecece;
    text-align: center; 
}
.quantity{
box-sizing: border-box;
color: inherit;
font: inherit;

line-height: inherit;
text-align: center;
width: 125px;
height: 56px;
border: 2px solid #b1b6b8;

}