body{
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI" , Roboto, Helvatica, Arial, sans-serif, " Apple Color Emoji", "Segoe UI Emoji";
		
		line-height: 1.5;
		margin: 0px;
	}
.big{

    font-size: 72px;
    font-weight: 200;
}
.under{border-bottom: 10px solid #f07524;}
.wrap{
	
    width: auto;
    height: max-content;
    display: flex;
}
.padding{padding: 40px  40px 0px  40px;}
.img6{width: 600px; margin-left: -23px;}

sub{font-weight: normal;
font-size: 20px;}
a{text-decoration: none;
	color:inherit; 
}
.wrap-1{
	    border-radius: 5px;
  
    padding: 36px;
    width: 258px;
 
    margin: 33px;
}
.left-2{margin-left: 16%;}
.offer{
	display: flex;	
}
.bd-top{
	border-top: 2px solid #ebd09f;
	padding-top: 5px;
}
.red{color: red;}
.under-1{border-bottom: 1px solid #fd6a02;}

.wrap-3{
	border-radius: 5px;
	height: fit-content;
padding: 30px;
    width: 250px;
    
    margin-right: 20px;
    margin-bottom: 10px;
}
.wrap-2{
	
    width: 500px;
    height: max-content;
    left: 25%;
    display: flex;
     border: 1px solid #fd6a02;

} .bg-url2{background-image: url(../img/IMG_2854.jpg);
	background-size: cover;
	background-repeat: no-repeat;
     padding: 2px 2px 2px 0px;

}
.wrap-t{display: flex;
margin-top: 10px;
	
	padding: 20px;
}
.bg-url{
	background-image: url(../img/bg1.png);
	background-position:left;
	background-repeat: no-repeat;
    padding: 30px;
}

.btn-1{
	 text-align: center;
    color: #ffff;
    padding: 10px;
    width: 100px;
    font-variant: small-caps;
    background-color: #fd6a02;
    position: absolute;
    border-radius: 5px;
transition: ease-in-out 0.5s;
}
.btn-1:hover {
	background-color:#e65a22;
	 border-radius: 5px;
}
.btn-2{
	 text-align: center;
    color: #ffffff;
    padding: 10px;
    width: 100px;
    font-variant: small-caps;
    background-color: transparent;
    position: absolute;
    border-radius: 5px;
    border:1px solid #fff;
    transition: ease-in-out 0.5s;

}
.btn-2:hover {
	
	border-radius: 5px;
	 color:  #ffff;
     background-color: #e65a22;
	
}
.underline{

	border: 1px solid #fd6a02;
}
ul{
	padding: 10px;
	margin:0px; 
}

div span.price{text-align: center;
font-weight: 900;
    font-size: 30px;
    color:#fd6a02;
}
.package{
	font-size: 30px;

}
.left1{left:20%;}

input{
	margin: 10px;
	padding:10px;
	border-radius: 5px;
	width: 85%;
	border: 1px solid #fd6a02 ;
}
.submit{
	width:65px;
	background-color: #fd6a02;
	color:#ffff;
}

.align-center{text-align: center;
padding: 30px;}
.reset{width: 100px}

.ta-right{float: right;}
.ta-left{float: left;}
td{padding: 30px;}
.li-after{

	border-bottom: 1px solid #cecece;
	padding :10px;
}
li{list-style: none;}


@media (max-width: 991px){
.wrap{ 
left:0px;
display: block;}


.left-2{margin-left: 6%;}

}
@media (max-width: 1395px){.left-2{margin-left:6%;}
}
@media (max-width: 320px) {
.wrap{ display: block;
left:14%;}

	}
  

	@media (max-width: 1024px) {
.big{font-size: 29px;
    font-weight: 500;}
    .img6 {
    width: 274px;
    margin-left: -23px;
}
.left-2{
margin-left: 44px;}
.wrap3{    border-radius: 5px;
    padding: 23px;
    width: 250px;
    margin-right: 0px;
    margin-bottom: 10px;}
    .align-center {
    font-size: 22px;
    padding: 0px
}
.wrap-1 {
   border-radius: 5px;
    padding: 30px;
    width: 289px;
    margin: 19px;
}
.price {font-size: 25px;}

.bg-url {background-position: center;}
.offer{font-size: 12px;
padding: 0px;
width: 80%;

}    @media (max-width: 883px) {
.wrap{ display: flex;}
    }
      @media (max-width: 751px) {
.wrap{ display: block;}
.left-2{
margin-left: 107px;}
    }
     @media (max-width: 567px) {

.left-2{
margin-left: 56px;}
    }
